@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------*/
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #0b1d26;
  color: #fff;
}

.wrapper {
  min-height: 100%;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
  padding: 50px 20px;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax__container {
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.parallax__label {
  color: #fbd784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  letter-spacing: 6px;
  margin: 0px 0px 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax__label::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  content: "";
  margin: 0px 30px 0px 0px;
  height: 1px;
  background-color: #fbd784;
}

.parallax__title {
  font-size: 88px;
}

.parallax__images {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  height: -10%;
  z-index: 1;
}

.images-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.images-parallax__clouds,
.images-parallax__mountains,
.images-parallax__human {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.images-parallax__clouds {
  background: url(../img/clouds.jpg) top/cover no-repeat;
  top: 0;
}

.images-parallax__mountains {
  background: url(../img/mountains.png) top/cover no-repeat;
  top: 15%;
  z-index: 2;
}

.images-parallax__human {
  background: url(../img/human.png) top/cover no-repeat;
  top: 45%;
  z-index: 3;
}

@media (max-aspect-ratio: 3/2) {
  .images-parallax__human {
    background-position: 20% top;
  }
}
.content {
  background-color: #0b1d26;
  position: relative;
  z-index: 2;
}

.content::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(11, 29, 38, 0)), to(#0b1d26));
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
  -webkit-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.content__title {
  font-size: 35px;
  margin: 0px 0px 30px 0px;
}

.content__text {
  font-size: 16px;
  line-height: 150%;
}

.content__text p {
  margin: 0px 0px 30px 0px;
}

@media (max-width: 479px) {
  .parallax__title {
    font-size: 50px;
  }

  .parallax__label {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 767px) {
  .parallax__title {
    font-size: 50px;
  }

  .parallax__label {
    font-size: 16px;
    margin: 0px 0px 15px 0px;
  }
}